{% extends 'base.html' %}

{% block title %}
    Admin Login
{% endblock  %}

{% block body %}
    <form action="" method="post" algin="center">
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="btn-group d-flex justify-content-center">
                <a href="/login" class="btn btn-outline-dark" aria-current="page">patient</a>
                <a href="/care_login" class="btn btn-outline-dark">caretaker</a>
                <a href="/admin_login" class="btn btn-dark">admin</a>
            </div>
            <div class="p-5 m-5 bg-black text-white rounded-4 shadow-lg">
                <div class="d-flex justify-content-center">
                    <img src="../static/img/admin25%.png" alt="migraine logo">
                </div>
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="enter email">
                </div>
                <div class="form-group">
                    <label for="password1">password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="enter password">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-dark">login</button>
                <a class="btn btn-dark" href="/" role="button">back</a>
            </div>
        </div>
    </form>
{% endblock  %}