{% extends 'care_base.html' %}

{% block title %}
    your patients
{% endblock %}

{% block homeActive%}
    nav-link active
{% endblock %}

{% block body %}
    <h1>this is care home</h1>
    <div class="row">
        {% for i in user_card %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">User ID: {{ i[0] }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Name: {{ i[1] }}</h6>
                    </div>
                    <div class="card-body">
                        <!-- Add more fields as needed -->
                        <a href="{{ url_for('views.user_details', user_id=i[0]) }}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}