{% extends 'care_base.html' %}

{% block title %}
    profile
{% endblock %}

{% block profileActive %}
    nav-link active
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="text-center m-3">
                <img src="../static/img/careProfile25%.png" alt="migraine logo">
                <h1>Care Profile</h1>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in patient_info %}
                    <tr>
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <form action="" method="POST">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="enter patient id" aria-label="user id" aria-describedby="button-addon2" name="user_id">
                        <button class="btn btn-dark" type="submit" id="button-addon2">add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-dark" href="/logout" role="button">logout</a>
    </div>
{% endblock %}