{% extends 'care_base.html' %}

{% block title %}
    update status
{% endblock %}

{% block cuActive %}
    nav-link active
{% endblock %}

{% block body %}
    <form action="" method="POST">
        <div class="row">
            <div class="col">
                <div class="text-center m-3">
                    <img src="../static/img/updateStatus25%.png" alt="migraine logo">
                    <h1>Update Status</h1>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="p-5 m-4 bg-black text-white rounded-4 shadow-lg">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="text-center m-3">
                                    <img src="../static/img/patient25%.png" alt="migraine logo">
                                </div>
                                <input type="text" class="form-control" id="user_id" name="user_id" placeholder="enter patient id">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <div id="datepicker" data-date="{{ today }}"></div>
                                <input type="hidden" id="my_hidden_input" name="my_hidden_input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-4 m-4 bg-black text-white rounded-4 shadow-lg">
                    <div class="form-group">
                        <label for="">severity of migraine</label>
                        <span id="rangeValue">5</span>
                        <input type="range" class="form-range" min="0" max="10" id="severity" name="severity">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-4 m-4 bg-black text-white rounded-4 shadow-lg">
                    <div class="form-group">
                        <label for="">stress level</label>
                        <span id="stressValue">5</span>
                        <input type="range" class="form-range" min="0" max="10" id="stress" name="stress">
                    </div>  
                </div>
                <div class="p-3 m-4 bg-black text-white rounded-4 shadow-lg">
                    <div class="form-group">
                        <h4>Symptoms</h4>
                        <hr>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" value="T" id="light" name="light">
                            <label class="form-check-label" for="flexCheckDefault">
                                Sensitivity to Light
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" value="T" id="sound" name="sound">
                            <label class="form-check-label" for="flexCheckDefault">
                                Sensitivity to Sound
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" value="T" id="nausea" name="nausea">
                            <label class="form-check-label" for="flexCheckDefault">
                                Nausea
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" value="T" id="aura" name="aura">
                            <label class="form-check-label" for="flexCheckDefault">
                                Aura
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" value="T" id="viual" name="visual">
                            <label class="form-check-label" for="flexCheckDefault">
                                Visual Changes
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" value="T" id="dizziness" name="dizzness">
                            <label class="form-check-label" for="flexCheckDefault">
                                Dizziness
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" value="T" id="fatigue" name="fatigue">
                            <label class="form-check-label" for="flexCheckDefault">
                                Fatigue
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" value="T" id="unconcentrated" name="unconcentrated">
                            <label class="form-check-label" for="flexCheckDefault">
                                Unconcentrated
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" value="T" id="neck" name="neck">
                            <label class="form-check-label" for="flexCheckDefault">
                                Neck Stiffness
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="text-center">
            <button type="submit" class="btn btn-dark">submit</button>
        </div>
    </form>
    <script src="../static/js/range.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('#datepicker').datepicker(
            {
                todayHighlight: true,
            }
        );
        $('#datepicker').on('changeDate', function() {
            $('#my_hidden_input').val(
                $('#datepicker').datepicker('getFormattedDate')
            );
        });
    </script>
{% endblock %}