{% extends 'base.html' %}

{% block title %}
    contact us
{% endblock  %}

{% block cuActive %}
    nav-link active
{% endblock  %}

{% block body %}
    <div class="text-center p-2">
        <img src="../static/img/consultation23%.png" alt="migraine logo">
        <h1>Searching For Consultation?</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col">
            <h2>MMU Clinic</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15938.475057621807!2d101.62468413955078!3d2.9254411999999923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb6e63af5bef9%3A0xb678ac5a1ab151c7!2sMMU%20Clinic%20Ibnu%20Sina!5e0!3m2!1sen!2smy!4v1706758766728!5m2!1sen!2smy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col">
            <h2>Qualitas SV Care Clinic</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20384.197223953153!2d101.62220628086064!3d2.9243413641139058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb6de01560049%3A0xf00c543f2969da13!2sQualitas%20SV%20Care%20Clinic%20Cyberjaya%2024%20Hours!5e0!3m2!1sen!2smy!4v1706759194240!5m2!1sen!2smy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>KLINIK CYBERJAYA</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20384.197223953153!2d101.62220628086064!3d2.9243413641139058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb75fe4c53f37%3A0x4c1de0780e350950!2sKLINIK%20CYBERJAYA%20(Tamarind%20Square)!5e0!3m2!1sen!2smy!4v1706759509129!5m2!1sen!2smy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col">
            <h2>DBH Medicare Clinic</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20384.197223953153!2d101.62220628086064!3d2.9243413641139058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb6dc3b14d53f%3A0xe5963ffd80270961!2sDBH%20Medicare%20Clinic!5e0!3m2!1sen!2smy!4v1706759676124!5m2!1sen!2smy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    
{% endblock  %}