{% extends 'base.html' %}

{% block title %}
    migraine result
{% endblock %}

{% block mrActive %}
    nav-link active
{% endblock %}

{% block body %}
    <h1>this is migraine result</h1>
    <p>Average Stress: {{ avg_stress }}</p>
    <p>Average Severity: {{ avg_severity }}</p>
    <div class="gauge-container">
        <div class="gauge-a"></div>
        <div class="gauge-b"></div>
        <div class="gauge-c"></div>
        <div class="gauge-data">
            <h1 id="percent">{{ "{:.2f}".format((avg_stress / 10) * 100) }}%</h1>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get the gauge-container element
            var gaugeContainer = document.querySelector('.gauge-container');
            // Add the "animate" class to trigger the animation
            gaugeContainer.classList.add('animate');
        });
    </script>
{% endblock %}