{% extends 'base.html' %}

{% block title %}
    migraine history
{% endblock %}

{% block mhActive %}
    nav-link active
{% endblock %}

{% block body %}
    <div class="row m-4">
        {% for status in status %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Status ID: {{ status.id }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Status Date: {{ status.date }}</h6>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal{{ status.id }}">
                            view details
                        </button>
                        <div class="modal fade" id="exampleModal{{ status.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ status.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel{{ status.id }}">{{ status.date }}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <td>{{ status.severity }}</td>
                                        <td>{{ status.stress }}</td>
                                        <td>{{ status.light }}</td>
                                        <td>{{ status.sound }}</td>
                                        <td>{{ status.nausea }}</td>
                                        <td>{{ status.aura }}</td>
                                        <td>{{ status.visual }}</td>
                                        <td>{{ status.dizzness }}</td>
                                        <td>{{ status.fatigue  }}</td>
                                        <td>{{ status.unconcentrated  }}</td>
                                        <td>{{ status.neck }}</td>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
