{% extends 'base.html' %}

{% block title %}
    migraine result
{% endblock %}

{% block mrActive %}
    nav-link active
{% endblock %}

{% block body %}
    <div class="position-absolute top-50 start-50 translate-middle m-4">
        <div class="row">
            <div class="col">
                <div class="progress-container">
                    <div class="circular-progress" data-progress-value="{{ (avg_stress*10) | round | int }}">
                        <span class="progress-value">0%</span>
                    </div>
                    <h6>average stress percentage</h6>
                </div>
            </div>
            <div class="col">
                <div class="progress-container">
                    <div class="circular-progress" data-progress-value="{{ (avg_severity*10) | round | int }}">
                        <span class="progress-value">0%</span>
                    </div>
                    <h6>average severity percentage</h6>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/progress.js"></script>
{% endblock %}