{% extends 'base.html' %}

{% block title %}
    profile
{% endblock %}

{% block profileActive %}
    nav-link active
{% endblock %}

{% block body %}
    {% for i in information %}
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="row">
                <div class="col">
                    <div class="text-center p-4 m-4 border border-start-0 border-black border-3">
                        <img src="../static/img/profile23%.png" alt="migraine logo">
                        <h1>@{{ i.name }}</h1>
                    </div>
                </div>
                <div class="col p-4 m-4 border border-end-0 border-black border-3">
                    <p><img src="../static/img/id.png" alt="migraine logo"> {{ i.id }} (user id)</p>
                    <p><img src="../static/img/email5%.png" alt="migraine logo"> {{ i.email }}</p>
                    <p><img src="../static/img/careid5%.png" alt="migraine logo"> {{ i.caretaker_id }} (caretaker id)</p>
                    <form action="" method="POST">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="caretaker's id" aria-label="caretaker id" aria-describedby="button-addon2" name="care_id">
                                <button class="btn btn-dark" type="submit" id="button-addon2">confirm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-center p-5">
                        <a class="btn btn-dark" href="/logout" role="button">logout</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}