{% extends 'base.html' %}

{% block body %}
    <div class="slides">
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="p-5 m-5 bg-black text-white rounded-4 shadow-lg">
                <img src="../static/img/whiteLogo50%.png" alt="migraine logo">
                <h1 class="text-center">Migraine</h1>
                <h1 class="text-center">App</h1>
            </div>
            <div class="text-center m-3">
                <a class="btn btn-dark" href="/signup" role="button">signup</a>
                <a class="btn btn-dark" href="/login" role="button">login</a>
            </div>
            <hr>
            <div class="text-center m-3">
                <h3>more info</h3>
            </div>
            <div class="text-center">
                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                <lord-icon
                    src="https://cdn.lordicon.com/rmkahxvq.json"
                    trigger="loop"
                    style="width:50px;height:50px">
                </lord-icon>
            </div>
        </div>
    </div>
    <div class="slides">
        <hr class="border border-dark border-2">
        <div class="row">
            <div class="text-center">
                <h1>Welcome to Migraine Tracker</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/abfverha.json"
                        trigger="hover"
                        style="width:200px;height:200px">
                    </lord-icon>
                </div>
            </div>
            <div class="col">
                <h3>Your Daily Companion for Migraine Management</h3>
                <br>
                <h5>Living with migraines can be challenging, but you're not alone. The Migraine Tracker web app is here to support you on your journey to better manage and understand your migraines.</h4>
                <br>
            </div>
            <hr>    
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h3>Why Migraine Tracker?</h3>
                    <br>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Daily Check-ins </h5>
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <div class="text-center">
                            <lord-icon
                            src="https://cdn.lordicon.com/oqdmuxru.json"
                            trigger="hover"
                            style="width:200px;height:200px">
                            </lord-icon>
                        </div>
                        <h5>Log your daily experiences to track the frequency and intensity of your migraines. Understanding patterns is the first step towards effective management.</h5>
                        <br>
                    </div>
                    <div class="col">
                        <h5>Personalized Insights </h5>
                        <div class="text-center">
                            <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/kthelypq.json"
                                trigger="hover"
                                style="width:200px;height:200px">
                            </lord-icon>
                        </div>
                        <h5>Receive personalized insights based on your daily inputs. Identify triggers, potential patterns, and learn more about your migraine patterns over time.</h5>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="slides">
        <hr class="border border-dark border-2">
        <div class="row">
            <div class="text-center">
                <h1>How It Works</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Create an Account</h5>
                <div class="text-center">
                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/spukaklw.json"
                        trigger="hover"
                        style="width:200px;height:200px">
                    </lord-icon>
                </div>
                <h5> Sign up to create your personal Migraine Tracker account. Your data will be securely stored, allowing you to access your information anytime, anywhere.</h5>
            </div>
            <div class="col">
                <h5>Daily Check-in</h5>
                <div class="text-center">
                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/lyrrgrsl.json"
                        trigger="hover"
                        style="width:200px;height:200px">
                    </lord-icon>
                </div>
                <h5>Answer a few quick questions about your day, including migraine frequency, intensity, triggers, and any medications or treatments you've used.</h5>
            </div>
            <div class="col">
                <h5>Track Your Progress</h5>
                <div class="text-center">
                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/vuiggmtc.json"
                        trigger="hover"
                        style="width:200px;height:200px">
                    </lord-icon>
                </div>
                <h5>Over time, review your migraine history, patterns, and insights generated by the app. Use this information to work towards a healthier, migraine-free lifestyle.</h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="text-center">
                <h1>Get Started Today!</h1>
                <br>
                <h5>Take control of your migraines and start your journey towards a better quality of life. Sign up for Migraine Tracker now and begin tracking your daily experiences</h3>
                <br>
                <h5>Remember, every data point you log brings you one step closer to understanding and managing your migraines effectively.</h3>
                <br>
                <h1>Start Tracking Now!</h1>
            </div>
        </div>
    </div>
{% endblock %}